.Pokecard {
    background: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
    width: 300px;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Pokecard-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #fff;
}

.Pokecard-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin-bottom: 1rem;
}

.Pokecard-image img {
    width: 250px;
    opacity: 0.85;
    margin-bottom: 1rem;
    transition: all ease 500ms;
}

.Pokecard-data {
    font-size: 80%;
}

.Pokecard-image img:hover {
    opacity: 2;
    transform: scale(1.25);
}